

<div class="cartDivTitle">
    <h2 class="cartTitle">Detalle del carrito</h2>
    <button id="cartButtonVaciar", onclick="vaciarCarrito('{{carrito._id}}')">Vaciar carrito</button>
</div>


<a href="/products">Seguir comprando</a>

<ul id="cartUl">
    {{#with carrito as |cart|}}   
    {{#each productos}}
    <div id="productDiv-{{cart._id}}-{{this.producto._id}}">
    <br>
    <li>{{this.producto.title}}</li>
    <li>{{this.producto.description}}</li>
    <li>{{this.producto.price}}</li>
    <li>{{this.producto.thumbnail}}</li>
    <li>{{this.producto.code}}</li>
    <li>{{this.producto.stock}}</li>
    <li>{{this.producto.category}}</li>
    <li>{{this.producto.status}}</li>
    <li id="cartQuantity-{{cart._id}}-{{this.producto._id}}">Cantidad: {{this.quantity}} <button id="cartButtonRestar" onclick="restar('{{cart._id}}', '{{this.producto._id}}', '{{this.quantity}}')">-</button> <button id="cartButtonSumar" onclick="sumar('{{cart._id}}', '{{this.producto._id}}')">+</button> </li>
    <button id="cartButtonEliminar" onclick="eliminar('{{cart._id}}', '{{this.producto._id}}')">Eliminar</button>
    <br>
    </div>
    {{/each}}
    {{/with}}
</ul>
    <button id="cartButtonConfirmar" onclick="comprar('{{carrito._id}}')">Confirmar compra</button>
    
<script src="/assets/js/cart.js"></script>
