<div class="cartDivTitle">
    <h2 class="cartTitle">Detalle del carrito</h2>
    <button class="cartButtonVaciar", onclick="vaciarCarrito()">Vaciar carrito</button>
</div>

<a href="/products">Seguir comprando</a>

<ul>
    {{#each productos}}
    <br>
    <li>{{this.producto.title}}</li>
    <li>{{this.producto.description}}</li>
    <li>{{this.producto.price}}</li>
    <li>{{this.producto.thumbnail}}</li>
    <li>{{this.producto.code}}</li>
    <li>{{this.producto.stock}}</li>
    <li>{{this.producto.category}}</li>
    <li>{{this.producto.status}}</li>
    <li>Cantidad: {{this.quantity}} <button onclick="restar()">-</button> <button onclick="sumar()">+</button> </li>
    <button onclick="eliminar()">Eliminar</button>
    <br>
    {{/each}}
</ul>
<script src="/assets/js/cart.js"></script>