<h2>Listado de productos con PAGINACIÓN</h2>

<ul>
    {{#each productos}}
        <li>{{title}}</li>
        <li>{{description}}</li>
        <li>{{price}}</li>
        <li>{{thumbnail}}</li>
        <li>{{code}}</li>
        <li>{{stock}}</li>
        <li>{{category}}</li>
        <li>{{status}}</li>
    {{/each}}
</ul>
<br>
<a href="./products?pagina=1">Pág. 1</a>

{{#if hasPrevPage}}
<a href="./products?pagina={{prevPage}}">Ant.</a>
{{/if}}

{{#if hasNextPage}}
<a href="./products?pagina={{nextPage}}">Sig.</a>
{{/if}}

<a href="./products?pagina={{totalPages}}">Ult. Pág.</a>
